* {
  margin: 0;
  padding: 0;
  font-family: 'Fredoka One', cursive;
}

p {
  padding: 0 !important;
  margin: 0 !important;
}

body {
  color: black;
}

#charakter_container, #enemy_container {
  border: 5px solid #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 0;
}

#charakter_image, #enemy_image {
  text-align: center;
  padding: 20px;
  width: 100%;
  border-bottom: 5px solid #333;
}

#charakter_image img, #enemy_image img {
  max-width: 375px;
  max-height: 375px;
}

#charakter_image {
  border-bottom: 0;
}

#attack_button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  background: #a11;
  border-radius: 25px;
  text-align: center;
  z-index: 999;
  -webkit-animation: show 0.5s ease-in-out;
          animation: show 0.5s ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  border: 5px solid white;
  font-size: 24px;
  padding: 25px;
}

#enemy_container:hover {
  cursor: pointer;
}

#enemy_container:hover #attack_button {
  display: block;
}

@-webkit-keyframes show {
  0% {
    opacity: 0.2;
    width: 150px;
  }
  100% {
    opacity: 1;
    width: 300px;
  }
}

@keyframes show {
  0% {
    opacity: 0.2;
    width: 150px;
  }
  100% {
    opacity: 1;
    width: 300px;
  }
}

#WelcomeScreen {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #111;
  color: #ddd;
  -webkit-transition: 1s;
  transition: 1s;
  text-shadow: 0.2em 0.2em 0.3em #D980FA;
}

#WelcomeScreen input[type="text"]:focus, #WelcomeScreen input[type="text"]:hover {
  outline: none;
  border-color: initial;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#WelcomeScreen .nameInput {
  border-radius: 25px;
  margin: 50px;
  padding: 10px 20px;
  font-size: 24px;
  max-width: 500px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#WelcomeScreen .nameInput:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#WelcomeScreen .startButton {
  padding: 20px;
  border-radius: 25px;
  max-width: 300px;
  margin-top: 50px;
  font-size: 24px;
  opacity: 0.7;
  height: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#WelcomeScreen .startButton:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#WelcomeScreen .startButton:focus {
  outline: none;
  -webkit-filter: brightness(2.5);
          filter: brightness(2.5);
}

#WelcomeScreen h1 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#WelcomeScreen h1:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* 2. BiomScreen Styles */
#StartScreenSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  background-color: #111;
}

#StartScreenSection h1 {
  margin: 50px 0;
  text-align: center;
  font-size: 60px;
}

#StartScreenSection .biom_card {
  border: 4px solid #444;
  border-radius: 25px;
  opacity: 0.7;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 50px;
}

#StartScreenSection .biom_card img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.7;
  max-width: 200px;
  padding: 50px;
}

#StartScreenSection .biom_card:hover, #StartScreenSection .biom_card:hover img {
  opacity: 1;
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#StartScreenSection .biom_card:nth-of-type(1):hover {
  -webkit-filter: drop-shadow(16px 16px 20px #daa);
          filter: drop-shadow(16px 16px 20px #daa);
}

#StartScreenSection .biom_card:nth-of-type(2):hover {
  -webkit-filter: drop-shadow(16px 16px 20px #aab);
          filter: drop-shadow(16px 16px 20px #aab);
}

#StartScreenSection .biom_card:nth-of-type(3):hover {
  -webkit-filter: drop-shadow(16px 16px 20px #abb);
          filter: drop-shadow(16px 16px 20px #abb);
}

#StartScreenSection .biom_card:nth-of-type(4):hover {
  -webkit-filter: drop-shadow(16px 16px 20px #bab);
          filter: drop-shadow(16px 16px 20px #bab);
}

#StartScreenSection .biom_card:nth-of-type(1) {
  background-color: #daa;
}

#StartScreenSection .biom_card:nth-of-type(2) {
  background-color: #aab;
}

#StartScreenSection .biom_card:nth-of-type(3) {
  background-color: #abb;
}

#StartScreenSection .biom_card:nth-of-type(4) {
  background-color: #bab;
}

#StartScreenSection .biom_desc {
  margin: 80px auto 0 auto;
  font-size: 36px;
  text-align: center;
  color: #ddd;
}

#GameScreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.GameCenter {
  height: 100vh;
  background: #222;
  color: #ddd;
  position: relative;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.GameCenter .addstat, .GameCenter .onestat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 80px;
  margin: 20px;
  vertical-align: middle;
}

.GameCenter .addstat p:hover, .GameCenter .onestat p:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.GameCenter .addstat {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.GameCenter .addstat .btn {
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: #ddd;
}

.GameCenter .addstat .btn:hover {
  cursor: pointer;
}

.GameCenter .addstat .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.GameCenter #charakter-img-icon {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 80px;
  height: 80px;
  background: #f78fb3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 20px;
  border-radius: 50%;
  border: 4px solid black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.GameCenter #charakter-img-icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.GameCenter #charakter-img-icon img {
  max-width: 50px;
}

#endgamebutton {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  border: 5px solid white;
  color: white;
}

#endgamebutton.active {
  display: block !important;
}

#InstructionsScreen, #OptionsScreen {
  width: 100vw;
  height: 100vh;
  background: #111;
  padding: 5%;
  color: white;
}

#InstructionsScreen p, #OptionsScreen p {
  margin: 20px !important;
}

#InstructionsScreen p:hover, #OptionsScreen p:hover {
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  font-size: 18px;
}

#InstructionsScreen .spin, #OptionsScreen .spin {
  font-size: 128px;
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}

#enemy_stats {
  text-align: center;
}

#enemy_stats .stat:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#enemy_name:hover, #enemy_image:hover img, #charakter_image:hover img {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (min-width: 576px) {
  #MenuScreen, #StartScreenSection {
    height: 100vh;
  }
}

#MenuScreen {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #111;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#MenuScreen .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#MenuScreen .option {
  cursor: pointer;
  max-width: 400px;
  margin: 20px;
}

#MenuScreen .option-image {
  height: 200px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#MenuScreen .option-image img {
  width: 150px;
  height: 150px;
}

#MenuScreen .option-image.active {
  position: relative;
  background: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  text-align: center;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

#MenuScreen .option:hover .option-image.active {
  background: #D980FA;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#MenuScreen .option:hover .option-description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#MenuScreen .option-image.active .option-icon-section {
  opacity: 0.2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#MenuScreen .option-image.active .option-icon-section h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
}

#MenuScreen .option:hover .option-icon-section {
  opacity: 1;
}

#MenuScreen .option:hover .option-icon-section img {
  width: 140px;
  height: 140px;
}

#MenuScreen .option-description {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#MenuScreen .option-description p {
  margin: 0;
  padding: 0;
}

.addstatistic:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#hh {
  max-width: 100px;
  font-size: 18px;
}

.blink {
  -webkit-animation: blink 2s infinite linear;
          animation: blink 2s infinite linear;
}

@-webkit-keyframes blink {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes blink {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=index.css.map */