
#MenuScreen{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    flex-wrap: wrap;
}
#MenuScreen .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#MenuScreen .option{
    cursor: pointer;
    max-width: 400px;
    margin: 20px;
}

#MenuScreen .option-image{
    height: 200px;
    transition: 0.5s;
}

#MenuScreen .option-image img{
    width: 150px;
    height: 150px;
}


#MenuScreen .option-image.active{
    position: relative;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    text-align: center;
    transform:  translateY(100px);
}

#MenuScreen .option:hover .option-image.active{
    background: #D980FA;
    transform:  translateY(0);
}

#MenuScreen .option:hover .option-description{
    transform:  translateY(0);
}

#MenuScreen .option-image.active .option-icon-section{
    opacity: 0.2;
    transition: 0.5s;
}

#MenuScreen .option-image.active .option-icon-section h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
}

#MenuScreen .option:hover .option-icon-section{
    opacity: 1;
}
#MenuScreen .option:hover .option-icon-section img{
    width: 140px;
    height: 140px;
}

#MenuScreen .option-description{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transform:  translateY(-100px);

    transition: 0.5s;
}

#MenuScreen .option-description p{
    margin: 0;
    padding: 0;
}