$candy_light_color : #FDA7DF;
$candy_dark_color : #D980FA;

$slime_light_color: #4cd137;
$slime_dark_color: #44bd32;

$water_light_color: #00a8ff;
$water_dark_color: #0097e6;

$fire_light_color: #e84118;
$fire_dark_color: #c23616;


*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', cursive;
}