@import './config';

body{
    color: black;
}

#enemy_container{
    border: 5px solid #333;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#enemy_image{
    border: 5px solid #333;
}