@import './config';

body{
    color: black;
}

#charakter_container, #enemy_container{
    border: 5px solid #333;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    transition: 0.5s;

    padding: 0;
}

#charakter_image, #enemy_image{
    text-align: center;
    padding: 20px;
    width: 100%;
    border-bottom: 5px solid #333;

    img{
        max-width:375px;
        max-height: 375px;
    }
}

#charakter_image{
    border-bottom: 0;
}

#attack_button{
    display: none;
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    color: white;
    background: #a11;
    border-radius: 25px;
    text-align: center;
    z-index: 999;
    animation: show 0.5s ease-in-out;
    animation-fill-mode: both;
    border: 5px solid white;
    font-size: 24px;
    padding: 25px;
}

#enemy_container:hover{
    cursor: pointer;

    #attack_button{
        display: block;

    }
}

@keyframes show{
    0%{
        opacity: 0.2;
        width: 150px;
    }
    100%{
        opacity: 1;
        width: 300px;
    }
}

#WelcomeScreen{
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #111;
    color: #ddd;
    transition: 1s;
    text-shadow: 0.2em 0.2em 0.3em #D980FA;

    input[type="text"]:focus,input[type="text"]:hover{
        outline:none;
        border-color: initial;
        box-shadow: none;
    }

    .nameInput{
        border-radius: 25px;
        margin: 50px;
        padding: 10px 20px;
        font-size: 24px;
        max-width: 500px;
        transition: 0.5s;

        &:hover{
            transform: scale(1.2);
        }
    }

    .startButton{
        padding: 20px;
        border-radius: 25px;
        max-width: 300px;
        margin-top: 50px;
        font-size: 24px;
        opacity: 0.7;
        height: 100px;

        transition: 0.5s;

        &:hover{
            opacity:1;
            transform: scale(1.2);
        }

        &:focus{
            outline: none;
            filter: brightness(2.5);
        }
    }

    h1{ transition: 0.5s}
    h1:hover{
        transform : scale(1.2);
    }
}


/* 2. BiomScreen Styles */
#StartScreenSection{

    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100vw;
    background-color: #111;


    h1{
        margin: 50px 0;
        text-align:center;
        font-size: 60px;
    }
    .biom_card{
        border: 4px solid #444;
        border-radius: 25px;
        opacity: 0.7;
        padding: 50px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align:center;
        transition: 0.5s;
        margin: 50px;

        img{
            transition: 0.5s;
            opacity: 0.7;
            max-width: 200px;
            padding: 50px;
        }
    }
    .biom_card:hover, .biom_card:hover img{
        opacity: 1;
        cursor:pointer;
        transform: scale(1.2);
    }
    .biom_card:nth-of-type(1):hover{ filter: drop-shadow(16px 16px 20px #daa); }
    .biom_card:nth-of-type(2):hover{ filter: drop-shadow(16px 16px 20px #aab); }
    .biom_card:nth-of-type(3):hover{ filter: drop-shadow(16px 16px 20px #abb); }
    .biom_card:nth-of-type(4):hover{ filter: drop-shadow(16px 16px 20px #bab); }

    .biom_card:nth-of-type(1){ background-color: #daa;  }
    .biom_card:nth-of-type(2){ background-color: #aab;}
    .biom_card:nth-of-type(3){ background-color: #abb;}
    .biom_card:nth-of-type(4){ background-color: #bab; }

    .biom_desc{
        margin: 80px auto 0 auto;
        font-size: 36px;
        text-align: center;
        color: #ddd;
    }

}

//GameScreen

#GameScreen{
    display: flex;
    flex-wrap: wrap;
}

.GameCenter{
    height: 100vh;
    background: #222;
    color: #ddd;

    position: relative;

    font-size: 24px;

        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        .addstat, .onestat{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            max-height: 80px;
            margin: 20px;
            vertical-align: middle;

             p:hover{
                transition: 0.5s;
                transform: scale(1.1);
                cursor: pointer;
            }
        }
        .addstat{
            justify-content: space-between;

            & .btn{
                height: 50px;
                width: 50px;
                display:flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                color: #ddd;



                &:hover{
                    cursor: pointer;
                }
            }

            .stats{
                display:flex;
                justify-content: space-between;
                align-items: center;
            }
        }

    #charakter-img-icon{
        position: absolute;
        right: 0;
        top: 0;

        max-width: 80px;
        height: 80px;
        background: $candy_dark_color;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align:center;
        margin: 20px;
        border-radius: 50%;
        border: 4px solid black;
        transition: 0.5s;
        &:hover{
            transform: scale(1.2);
            cursor: pointer;
        }
        img{
        max-width: 50px;
    }
    }
}

#endgamebutton{
    display:none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    border: 5px solid white;
    color: white;
}

#endgamebutton.active{
    display:block !important;
}

#InstructionsScreen, #OptionsScreen{
    width: 100vw;
    height: 100vh;
    background: #111;
    padding: 5%;

    p{
        margin: 20px !important;
    }
    p:hover{
        cursor: pointer;
        transition: 0.6s;
        font-size: 24px;
    }
}

#enemy_stats{
    text-align: center;
}

@media (min-width: 576px){
        #MenuScreen, #StartScreenSection{
            height: 100vh;
        }
}

////////////////////////////////////////////////////

#MenuScreen{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    flex-wrap: wrap;

     .box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

     .option{
        cursor: pointer;
        max-width: 400px;
        margin: 20px;
    }

     .option-image{
        height: 200px;
        transition: 0.5s;
    }

     .option-image img{
        width: 150px;
        height: 150px;
    }


     .option-image.active{
        position: relative;
        background: #111;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        text-align: center;
        transform:  translateY(100px);
    }

     .option:hover .option-image.active{
        background: #D980FA;
        transform:  translateY(0);
    }

     .option:hover .option-description{
        transform:  translateY(0);
    }

     .option-image.active .option-icon-section{
        opacity: 0.2;
        transition: 0.5s;
    }

     .option-image.active .option-icon-section h3{
        margin: 10px 0 0;
        padding: 0;
        color: #fff;
    }

     .option:hover .option-icon-section{
        opacity: 1;
    }
     .option:hover .option-icon-section img{
        width: 140px;
        height: 140px;
    }

     .option-description{
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        transform:  translateY(-100px);

        transition: 0.5s;
    }

     .option-description p{
        margin: 0;
        padding: 0;
    }

}

.addstatistic:hover{
    transition: 0.5s;
    transform: scale(1.1);
}